@charset "UTF-8";

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: Georgia, Cambria, serif;
    font-weight: 200;
    background: #fff;
    color: #373D49;
}

h1 {
    margin: 2rem 0 1rem;
}

h2 {
    margin: 1.5rem 0 0.8rem;
}

p {
    margin: 0 0 1.2rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 320;
}

a {
    color: #2596be;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #e28743;
}

li {
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    margin-left: 1rem;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 2rem 0;
}

.footnote-ref {
    margin-left: 2px;
}

.footnote-backref {
    text-decoration: none;
}

.footnotes-list {
    padding-left: 2em;
    margin-top: 2rem;
}

.footnotes-list p {
    display: inline;
}